@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0,
  .style1 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-top: 0;
    flex-direction: column
  }
  .style0 {
    margin-left: 0;
    background-image: url(https://designresources.assets.yotako.io/9lhfj8kyjrl7ojc8.png);
    width: 375px;
    height: 281px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhfj8kyjrl7ojyx.png);
    width: 224px;
    height: 189px
  }
  .style2,
  .style3 {
    margin-left: 21px;
    margin-top: 13px;
    width: 48px;
    height: 48px
  }
  .style3 {
    margin-left: 323px;
    margin-top: 38px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0,
  .style1 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-top: 0;
    flex-direction: column
  }
  .style0 {
    margin-left: 0;
    background-image: url(https://designresources.assets.yotako.io/9lhfj8kyjrl7ojc8.png);
    width: 768px;
    height: 575px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhfj8kyjrl7ojyx.png);
    width: 459px;
    height: 387px
  }
  .style2,
  .style3 {
    margin-left: 43px;
    margin-top: 27px;
    width: 98px;
    height: 98px
  }
  .style3 {
    margin-left: 662px;
    margin-top: 78px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0,
  .style1 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-top: 0;
    flex-direction: column
  }
  .style0 {
    margin-left: 0;
    background-image: url(https://designresources.assets.yotako.io/9lhfj8kyjrl7ojc8.png);
    width: 920px;
    height: 689px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhfj8kyjrl7ojyx.png);
    width: 550px;
    height: 464px
  }
  .style2,
  .style3 {
    margin-left: 52px;
    margin-top: 32px;
    width: 118px;
    height: 118px
  }
  .style3 {
    margin-left: 792px;
    margin-top: 93px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0,
  .style1 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-top: 0;
    flex-direction: column
  }
  .style0 {
    margin-left: 0;
    background-image: url(https://designresources.assets.yotako.io/9lhfj8kyjrl7ojc8.png);
    width: 1200px;
    height: 899px
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/9lhfj8kyjrl7ojyx.png);
    width: 717px;
    height: 605px
  }
  .style2,
  .style3 {
    margin-left: 67px;
    margin-top: 42px;
    width: 154px;
    height: 154px
  }
  .style3 {
    margin-left: 1034px;
    margin-top: 122px
  }
}